body {
  color: #fff;
  background-color: #12aac5;
  margin: 0;
  font-family: Arial;
  font-size: 16px;
}
.botones-ruta {
  display: none;
  text-align: center;
  width: 30%;
  color: #fff;
  background-color: #533220;
  font-size: 1em;
  font-family: Arial;
  padding: 1em 0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.bici-gif,
.bici-jpg {
  width: 100%;
}
.bici-gif,
.modal {
  display: none;
}
.modal {
  background-color: #fff;
  width: 90%;
  position: absolute;
  top: 25%;
  height: 50%;
  left: 5%;
}
.modal p {
  color: #12aac5;
}
.datos {
  display: none;
}
